.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.SDG-heading {
    width: 60%;
}

.SDG-heading>h1 {
    width: 45%;
    text-align: center;
    margin: 2% auto 2%;
    font-size: 29px;
    height: 100%;
    border-bottom: 1px solid rgba(106, 13, 173, 1);
    color: rgba(106, 13, 173, 1);
}

.themes-div {
    background-color: rgba(106, 13, 173, 0.7);
    display: grid;
    margin: 2% 0 2% 0;
    grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr;
    grid-template-rows: 0.8fr 0.8fr;
    height: max-content;
    width: 90%;
}

.themes-div h1 {
    font-weight: 700;
    font-size: 2vw;
    text-align: center;
    margin-top: 10px
}

.themes-div>div {
    background-color: white;
    margin: 5%;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: unset;
    height: 16.667vw;
}

.theme-logo-div {
    margin: 2% auto auto;
    width: 40%;
    height: 50%;
}

.theme-logo-div>img {
    width: 100%;
    height: 100%;
}

.Logo-description {
    width: 60%;
    margin: 3% auto;
    border-top: 2px solid #6495ED;
}

.Logo-description>p {
    font-size: 2vw;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #9452c2;
}

.Logo-description>h1 {
    border-top: #6495ED;
    margin-top: 2%;
    font-size: 1.5vw;
    width: 100%;
    height: 100%;
    text-align: center;
}

.themes-div>div:hover {
    transform: scale(1.05, 1.05);
}

/*changes*/
@media screen and (max-width: 972px) {
    .themes-div {
        grid-template-columns: 0.8fr 0.8fr;
        grid-template-rows: 0.8fr 0.8fr 0.8fr;
    }

    .themes-div>div {
        height: 25vw;
    }

    .themes-div h1 {
        font-size: 3vw;
    }

    .Logo-description>p {
        font-size: 3vw;
        text-align: center;
        margin: 0;
        padding: 0;
        color: #9452c2;

    }
}

@media screen and (max-width: 500px) {
    .themes-div {
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr;
    }

    .themes-div>div {
        height: 45vw;
    }

    .themes-div h1 {
        font-size: 5vw;
    }

    .Logo-description>p {

        font-size: 5vw;
        text-align: center;
        margin: 0;
        padding: 0;
        color: #9452c2;
    }
}